@{
    ViewData["Title"] = "Search";
}

@model PlaneswalkersPantry.Models.ViewModels.CardBrowseViewModel

<h1>Browse Cards</h1>

<main class="col">
    @foreach (Card card in Model.Cards)
    {
        <div class="row card-details">
            <h4>@card.Title (<i>@Model.CardSets[card.SetCode!].SetName</i>)</h4>
            <p>
                @card.NumberOwned.ToString("D") Owned
            </p>
            <p>
                <b>@card.TypeLine</b>
                @if (!string.IsNullOrEmpty(card.ManaCost))
                {
                    <span>
                        &mdash; @card.ManaCost
                    </span>
                }
            </p>
            <p>
                @card.RulesText
            </p>

            @if (!string.IsNullOrWhiteSpace(card.FlavorText))
            {
                <p>
                    <i>@card.FlavorText</i>
                </p>
            }

            @if (!string.IsNullOrWhiteSpace(card.Power) && !string.IsNullOrEmpty(card.Toughness))
            {
                <p>
                    @card.Power&nbsp;/&nbsp;card.Toughness
                </p>
            }
        </div>
    }
</main>
