@{
    ViewData["Title"] = "Search";
}

@model PlaneswalkersPantry.Models.ViewModels.CardBrowseViewModel

<h1>Browse Cards</h1>

<main class="col">
    @foreach (Card card in Model.Cards)
    {
        <div class="row card-details">
            <h4>@Html.Encode(card.Title) (<i>@Html.Encode(Model.CardSets[card.SetCode!].SetName)</i>)</h4>
            <p>
                @card.NumberOwned.ToString("D") Owned
            </p>
            <p>
                <b>@Html.Encode(card.TypeLine)</b><br/>
            </p>
            <p>
                @card.RulesText<br/>
            </p>

            @if (!string.IsNullOrWhiteSpace(card.FlavorText))
            {
                <p>
                    <i>@card.FlavorText</i>
                </p>
            }

            @if (!string.IsNullOrWhiteSpace(card.Power) && !string.IsNullOrEmpty(card.Toughness))
            {
                <p>
                    @Html.Encode(card.Power)&nbsp;/&nbsp;@Html.Encode(card.Toughness)
                </p>
            }
        </div>
    }
</main>
