@{
    ViewData["Title"] = "Search Cards";
}

@using System.Linq
@model PlaneswalkersPantry.Models.ViewModels.CardSearchViewModel

<main class="row">
    <h1>Search Cards</h1>

    <form asp-action="Search" asp-controller="Card" method="post" class="form-block" style="margin-bottom: 50px">
        <div class="form-block-content">
            <p>
                <select asp-for="Predicate" asp-items="Model.SearchPredicateOptions" class="form-select-lg"></select>
            </p>

            <p>
                <label asp-for="Name" class="align-right control-label">Card name:</label>
                <input asp-for="Name" class="form-control">
            </p>
            <p>
                <label asp-for="Content" class="align-right control-label">Text in card body:</label>
                <input asp-for="Content" class="form-control">
            </p>
            <p>
                <label asp-for="SetCode" class="align-right control-label">Card set:</label>
                <select asp-for="SetCode" asp-items="Model.SetNameOptions" class="form-select-lg"></select>
            </p>
        </div>

        <div class="form-block-footer">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    @if (Model.Results != null && Model.Results.Any())
    {
        <div>
            @foreach (Card card in Model.Results)
            {
                <div class="row card-details">
                    <h4>@card.Title (<i>@Model.CardSets[card.SetCode!].SetName</i>)</h4>
                    <p>
                        @card.Rarity.ToDisplayString() &ndash; @card.NumberOwned.ToString("D") Owned
                    </p>
                    <p>
                        <b>@card.TypeLine</b>
                        @if (!string.IsNullOrEmpty(card.ManaCost))
                        {
                            <span>
                                &mdash; @card.ManaCost
                            </span>
                        }
                    </p>
                    <p>
                        @card.RulesText
                    </p>

                    @if (!string.IsNullOrWhiteSpace(card.FlavorText))
                    {
                        <p>
                            <i>@card.FlavorText</i>
                        </p>
                    }

                    @if (!string.IsNullOrWhiteSpace(card.Power) && !string.IsNullOrEmpty(card.Toughness))
                    {
                        <p>
                            @card.Power&nbsp;/&nbsp;@card.Toughness
                        </p>
                    }
                </div>
            }
        </div>
    }
    else if (Model.Results != null && !Model.Results.Any())
    {
        <h4>No results found.</h4>
    }
</main>
